name: AEM Unit Tests

on: push

jobs:
  my-jon-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "11"
          cache: maven

      - name: Run Unit Tests
        run: mvn clean test -pl core -am -B -ntp
